.recipient-main{

  .title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
  }

  .recipient-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 10px 0 0 15px;
  }

  .recipient-field {
    display: block;
    border: 1px solid #888;
    font-size:22px;
    margin: 10px 0 0 16px;
    padding:5px;
    width: 292px;
  }

  .city {
    display:inline-block;
    width: 212px;
  }

  .state {
    display:inline-block;
    width: 52px;
  }


}