.recipient-main .title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0; }

.recipient-main .recipient-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin: 10px 0 0 15px; }

.recipient-main .recipient-field {
  display: block;
  border: 1px solid #888;
  font-size: 22px;
  margin: 10px 0 0 16px;
  padding: 5px;
  width: 292px; }

.recipient-main .city {
  display: inline-block;
  width: 212px; }

.recipient-main .state {
  display: inline-block;
  width: 52px; }
