.create-main {
  padding: 20px 20px; }
  .create-main .button-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around; }
  .create-main .step-button {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    border: 2px solid #FF6D56;
    border-radius: 5px;
    color: white;
    background-color: #FF6D56;
    text-align: center; }
  .create-main .next {
    width: 100px; }
  .create-main .previous {
    width: 130px; }
  .create-main .hidden-button {
    display: none; }
  .create-main .shown-button {
    display: block; }
