.message-main {

  .title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
  }

  .postcard {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background-size: 300px;
    border: 2px solid #999;
    position: relative;
  }

  .postcard-text {
    width: 120px;
    position: absolute;
    left: 15px;
    top: 20px;
    height: 160px;
    white-space: pre-wrap;
    color: #222222;
    font-size: 14px;
  }

  //create some calculated value for the divider position
  //currently just hard-coded

  .divider {
    height: 150px;
    margin: 25px auto;
    width: 2px;
    background-color: #999;
  }

  .stamp {
    height: 30px;
    width: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid #999;
  }

  .message-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 10px 0 0 15px;
  }

  .message-box {
    height: 100px;
    width: 250px;
    border: 1px solid #222;
    margin: 15px 0 0 20px;
  }

}