@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Indie+Flower');

.message-main {

  .title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
  }

  .message-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 10px 0 0 15px;
  }

  .message-box {
    height: 100px;
    width: 250px;
    border: 1px solid #222;
    margin: 15px 0 0 20px;
  }

}