@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Indie+Flower');

.message-main {

  .title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
  }

  .message-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 25px 10px 0 15px;
    display: inline-block;
  }

  .message-box {
    height: 100px;
    width: 293px;
    border: 1px solid #222;
    margin: 5px 0 0 16px;
  }

  .font-selector {
    font-size:22px;
  }

}