.upload-section-button {
  padding: 5px;
  width: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: 2px solid #FF6D56;
  border-radius: 2px;
  color: white;
  background-color: #FF6D56;
  text-align: center;
  display: inline-block;
  margin-left: 15px; }
